/* ul.horizontal li{
  display: inline;
} */

/* ----- */
/* ul.pipeline {
  border:3px solid black;
  padding: 0;
  display:inline;
  width:100%;
  box-sizing:border-box;  
}
*/

/* li {
  background-color: red;
  display:inline;
} */

/* li:nth-child(2n) {
  background-color: #0F0;
} */


body {
  margin: 5px;
  background-color: rgb(32, 36, 36);
  color: white;
}

div {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

div.pipeline{
  width: 100%;
  margin: 4px;
  padding: 0px;
}

div.pipelineName{
  font-weight: 900;
  font-size: 1.5em;
}

ul.pipelineStages {
  width: 98%;
  margin: 0px;
  margin-left: 1em;
  padding: 3px;
}

li.pipelineStage {
  /* background-color: darkgoldenrod; */
  padding: 5px;
}
ul.actions {
  width: 98%;
  margin: 0px;
  padding: 3px;
}

li.action {
}

ul {
  border-width: 5px;
  display: table;
  table-layout: fixed;
  color: black;
}

li {
  display: table-cell;
  background-color: darkgray;
}

.succeeded{
  background-color: palegreen;
}

.inProgress{
  background-color: cornflowerblue;
}

.failed{
  background-color: palevioletred;
  font-weight: bolder;
}
